@{
    ViewData["Title"] = "アカウント登録";
}


<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">ASUサービスのアカウントを作成</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">ユーザー名</label>
                            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">メールアドレス</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">パスワード</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">確認パスワード</label>
                            <input type="password" class="form-control" id="confirmPassword" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">アカウント登録</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("Index","User")'">すでにアカウントをお持ちですか？</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>